/* stylelint-disable */
@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/components.css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, monospace;
  --font-serif: var(--font-serif), ui-serif, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

body {
  font-family: var(--font-sans);
}

:root {
  --radius: 0.5rem;
  --background: oklch(94.315% 0.01278 197.403);
  --foreground: oklch(0.2699 0.0080 240.1576);
  --card: oklch(0.9878 0.0044 179.7377);
  --card-foreground: oklch(0.1908 0.0020 106.5859);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2671 0.0196 98.9390);
  --primary: oklch(63.394% 0.11181 180.162);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8238 0.0811 180.8273);
  --secondary-foreground: oklch(0.4334 0.0177 98.6048);
  --muted: oklch(0.9014 0.0426 192.7656);
  --muted-foreground: oklch(0.5922 0.0251 254.4776);
  --accent: oklch(0.8746 0.0680 180.8525);
  --accent-foreground: oklch(0.2671 0.0196 98.9390);
  --destructive: oklch(0.1908 0.0020 106.5859);
  --border: oklch(0.8804 0.0066 185.2513);
  --input: oklch(0.7589 0.0151 180.5622);
  --ring: oklch(0.7572 0.1209 179.2842);
  --chart-1: oklch(0.5109 0.0861 186.3914);
  --chart-2: oklch(0.6268 0.2325 303.9004);
  --chart-3: oklch(0.5960 0.1274 163.2254);
  --chart-4: oklch(0.6417 0.2059 25.1146);
  --chart-5: oklch(0.5922 0.0251 254.4776);
  --sidebar: oklch(0.957 0.01 195);
  --live-demo: oklch(0.57 0.25 310);
  --live-demo-hover: oklch(0.72 0.20 310);
  --card-shadow-color: oklch(0.86 0.12 178);
  --sidebar-foreground: oklch(0.3590 0.0051 106.6524);
  --sidebar-primary: oklch(0.5602 0.0986 172.1546);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.8948 0.0377 177.6439);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --shadow-color: #000000;
  --shadow-opacity: 0.17;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.2830 0.0029 196.9934);
  --foreground: oklch(0.9640 0.0029 264.5419);
  --card: oklch(0.2707 0.0029 196.9842);
  --card-foreground: oklch(0.9878 0.0044 179.7377);
  --popover: oklch(0.3028 0.0033 164.8524);
  --popover-foreground: oklch(0.9211 0.0040 106.4781);
  --primary: oklch(70.495% 0.11466 178.865);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9878 0.0044 179.7377);
  --secondary-foreground: oklch(0.3085 0.0035 106.6039);
  --muted: oklch(0.2185 0.0049 173.9131);
  --muted-foreground: oklch(0.7671 0.0171 172.4841);
  --accent: oklch(0.2130 0.0078 95.4245);
  --accent-foreground: oklch(0.9663 0.0080 98.8792);
  --destructive: oklch(0.6318 0.2075 24.5694);
  --border: oklch(0.2223 0.0060 271.1393);
  --input: oklch(0.3488 0.0108 271.0979);
  --ring: oklch(0.8071 0.1189 178.0520);
  --chart-1: oklch(0.8762 0.1345 180.2721);
  --chart-2: oklch(0.7028 0.1647 328.3029);
  --chart-3: oklch(0.7891 0.1641 71.8423);
  --chart-4: oklch(0.6417 0.2059 25.1146);
  --chart-5: oklch(0.5922 0.0251 254.4776);
  --sidebar: oklch(0.21 0.01 195);
  --sidebar-foreground: oklch(0.8060 0.0153 175.6117);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.1680 0.0020 106.6177);
  --sidebar-accent-foreground: oklch(0.7727 0.1006 169.8067);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --shadow-color: #000000;
  --shadow-opacity: 0.17;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  ::selection {
    background-color: oklch(91% 0.096 180.426 / 0.15);
    color: var(--primary);
  }
}